<header class="site-header">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li class="active">
		<a href="{{ site.baseurl }}">Home</a></li>
	      <li><a href="{{ site.baseurl }}#perfil">Perfil</a></li>
	      <li><a href="{{ site.baseurl }}#profissional">Profissional</a></li>
	      <li><a href="{{ site.baseurl }}#academico">Acadêmico</a></li>
	      <li><a href="{{ site.baseurl }}#comunidades">Comunidades</a></li>
	      <li><a href="{{ site.baseurl }}#contato">Contato</a></li>
	      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
	    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container inverse">
    <a href="{{ site.baseurl }}/">
      <h1>{{ site.title }}</h1>
    </a>
    <h2>{{ site.subtitle }}</h2>
  </div>
</header>


    